

<form action="/add" method="post">
<div>Car Id</div><input name="id" type="number">
<div>Car Name</div><input name="name" type="text">
<div>Car Image URL</div><input name="img" type="text">
<div>
    <button type="submit">Add Car</button>
</div>
</form>